#book_page {
    display: flex;
    column-gap: 30px;
    justify-content: center;
}

#book_information {
    width: 100%;
}

h1 {
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: white;
}

h2 {
    text-align: left;
    font-weight: 250;
    font-stretch: normal;
    text-decoration: none;
    color: white;
}

h3 {
    text-align: left;
    font-weight: 250;
    font-stretch: normal;
    text-decoration: none;
    color: white;
    font-size: small;
}

p {
    color: white;
}

.subscript {
    text-align: left;
    font-weight: 250;
    font-stretch: normal;
    text-decoration: none;
    color: white;
    font-size: small;
}

.rating_button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

}

.btn_img {
    display: block;
    height: 30px;
}

.button {
    color: black;
    background-color: #c9e265;
    font-weight: 500;
    width: fit-content;
    height: fit-content;
    padding: 15px;
}

.progress_container {
    width: 50%;
    background-color: black;
    border-radius: 15px;
    overflow: hidden;
    display: inline-block;
    padding: 5px;
    margin: 30px auto 0;
}

.progress_bar {
    width: 50%;
    height: 5px;
    background-color: #c9e265;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    color: white;
}

#book_options {
    display: flex;
    column-gap: 20px;
    padding-bottom: 30px;
}

.about {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}