.browsing-list {
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.browsing-list-item{
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    gap: var(--dl-space-space-oneandhalfunits);
    border-radius: var(--dl-space-space-halfunit);
    width: 200px;
    gap: 25px;
    color: #B3B3B3;
}

.button {
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits) var(--dl-space-space-oneandhalfunits);
    background-color: #80FF44;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    color: rgb(12, 16, 12);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins;
    font-weight: 500;
    line-height: 24px;
}