.browsing-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.browsing-list-item{
    display: flex;
    flex-direction: column;
    border-radius: var(--dl-space-space-halfunit);
    width: 200px;
    gap: 25px;
    color: #B3B3B3;
}


.browsing-pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.search-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#browsing-search{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

h1 {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: white;
}


.button {
    display: flex;
    flex-direction: column;
    padding: var(--dl-space-space-oneandhalfunits) var(--dl-space-space-oneandhalfunits);
    background-color: #80FF44;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
    color: rgb(12, 16, 12);
    font-size: 16px;
    font-style: normal;
    font-family: Poppins, ui-sans-serif;
    font-weight: 500;
    line-height: 24px;
}