/* Global styles */
body {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Poppins, ui-sans-serif;
    border-radius: 10px;
    /* center the page in between left and right, set top and bottom margin to 30 pixels */
    margin: 10px auto;
}

#browsing header {
    flex-direction: column;
    align-items: center;
    font-family: Poppins, serif;
    font-stretch: normal;
    font-weight: bolder;
    margin: 10px;
}

/* Header styles */
#browsing-title {
    text-align: center;
    font-family: Poppins, serif;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: white;
    justify-content: center;
}

/* Flex container for main sections */
#browsing {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#contents {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1600px;
}

/* Filter styles */
#browsing-filter-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
    flex: 0 0 auto;
    background-color: gray(0.5);
}

#browsing-filter-container .genre-header {
    color: #fff;
    font-weight: bold;
}

#browsing-filter-container input[type="checkbox"],
#browsing-filter-container label {
    color: #fff;
    margin: 7px;
}

/* Search form styles */
#browsing-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px;
}

#browsing-search form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    margin: 15px;
}

#browsing-search input[type="text"] {
    background-color: white;
    color: darkslategray;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Book listing styles */
#browsing-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 20px;
    justify-content: center;
    align-content: baseline;
}

.browsing-list-item{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: #171717;
    width: 200px;
    height: 350px;
    gap: 10px;
    color: #B3B3B3;
    justify-content: center;
    align-items: center;
}
.book-image-container {
    margin: 10px;
}
.book-list-image {
    width: 150px;
    height: 200px;
    border-radius: 5px;
}
.book-list-description{
    display: flex;
    flex-direction: column;
    flex: 0;
    justify-content: center;
    align-items: center;
    font-family: Poppins, serif;
    color: whitesmoke;
    font-stretch: normal;
    height: 100px;
    padding: 5px;
    background-color: #171717;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-list-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Poppins, serif;
    font-weight: bold;;
    color: whitesmoke;
    font-stretch: normal;
    height: 50px;
    padding: 10px;
    background-color: #171717;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.book-list-author{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-style: italic;
    font-family: Poppins, serif;
    color: whitesmoke;
    font-stretch: normal;
    height: 20px;
    padding: 5px;
    background-color: #171717;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.browsing-list-item a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #b7e8c5;
    color: darkslategray;
    padding: 5px;
    border-radius: 10px;
    width: fit-content;
}

/* Pagination styles */

.browsing-pages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 50px;
}

.browsing-pages button:hover {
    background-color: deeppink;
    color: white;
}

.main-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #b7e8c5;
    color: #2A2A2A;
    padding: 5px;
    border-radius: 5px;
    width: fit-content;
    min-width: 40px;
    min-height: 40px;
    margin: 10px;
}


