h1 {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: white;
    font-size: 48px;
}

h2 {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 250;
    font-stretch: normal;
    text-decoration: none;
    color: white;
}

h3 {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    font-size: 24px;
    color: #2A2A2A;
    background-color: #c9e265;
    width: fit-content;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}
h4{
    height: 64px;
}
.book img{
    width: 240px;
    height:360px;
}
.book{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 240px;
    gap: 25px;
    color: #B3B3B3;
}

.book-list{
    width: 75vw;
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    gap: 50px;
    background-color: #171717;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-x: auto;
    padding-bottom: 30px;
    margin-bottom: 20px;
}



.book-list p{
    padding-left: 5px;
    padding-right: 5px;
}

.book-list a:hover{
    background-color: #626e31;
    color: white;
}
.book-list p{
    padding-left: 5px;
    padding-right: 5px;
}

#home-page{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}

::-webkit-scrollbar {
    width: 10px;
    margin: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #171717;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9e265;
    border-radius: 10px;
    margin: 10px;
    scroll-padding: 20px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #626e31;
}
#intro{
    color: #B3B3B3;
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    padding-bottom: 20px;
}

#books{
    color: #B3B3B3;
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
}