@import "https://unpkg.com/open-props";
/*@import "https://unpkg.com/open-props/normalize.min.css";*/

#profile_body {
    flex-direction: row;
    display: flex;
    justify-content: center;

    color: white;
    width: 40vw;
    align-content: center;
}

#left {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-content: center;


}

#profile_body h2 {
    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: white;
    font-size: 48px;
}

.profile_name {
    color: white;
    width: fit-content;
}
#profile_pic {
    inline-size: 120%;
    aspect-ratio: 16/ 16;
    width: 250px;
    object-fit: contain;
    border-radius: 20px;
    border-color: #2e3136;
    border-width: medium;
    background-color: #FFFFFF;
}
.bio_container
{
    padding-top: 5%;
    width: 60%;
}
.bio_container #user_bio
{
    color: #FFFFFF;
    overflow-wrap: normal;

}
#right {

    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    gap: 30px;

    align-content: center;

    color: white;

}

.media_scroller {
    --_spacer: 3px;
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;


    padding: 10 var(--_spacer) var(--_spacer);

    overflow-x:auto;

    overscroll-behavior-inline: contain;


}

.media-scroller--with-groups {
    grid-auto-columns: 80%;
}

.media-group {
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
}


.media_element {
    display: flex;
    flex-direction: column;
    grid-template-rows: min-content;
    margin-right: 10px;
    width:120px;
    align-content: center;
}


.media_element img {
    width:120px;
}

.snaps_inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps_inline > * {
    scroll-snap-align: start;
}

/* general styling */

.container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}

.flow {
    display: grid;
    gap: 10px;
}

#profile_body h1{

    text-align: left;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    font-size: 24px;
    color: #2A2A2A;
    background-color: #c9e265;
    width: fit-content;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /*
       padding-inline-start: 10px;
       margin-block: 10px;
       color: white;
       padding: 10px;
       */
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    color: #0C100C;
}

/* Track */
::-webkit-scrollbar-track {
    background: #0C100C;
    color: #0C100C;

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9e265;
    border-radius: 20px;

}

/* Handle on hover */
.book_list
{
    display: flex;
    /*flex-direction: column;*/
   /*margin-inside: 10px;*/
    background: #2A2A2A;
    width: 40vw;

    justify-content: flex-start;
    flex-direction: row;
    margin-right: auto;
    margin-left: 0px;
    gap: 20px;
    /*background-color: #171717;*/
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-x: auto;
    padding-bottom: 30px;
    margin-bottom: 20px;


}