@import "https://unpkg.com/open-props";
/*@import "https://unpkg.com/open-props/normalize.min.css";*/

#profilebody {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap : 50px;
    color: white;
    font-family: Poppins, serif;
    width: 1200px;
    align-content: center;
}

#left {
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: fit-content;
}

h1 {
    text-align: left;
    font-family: Poppins, serif;
    font-weight: 500;
    font-stretch: normal;
    text-decoration: none;
    color: white;
    font-size: 48px;
}

.profile_name {
    color: white;
    width: fit-content;
}
#profile_pic {
    inline-size: 120%;
    aspect-ratio: 16/ 16;
    width: 250px;
    object-fit: contain;
    border-radius: 20px;
    border-color: #2e3136;
    border-width: medium;
}

.contact_icons {
    flex-direction: row;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #FFFFFF;
    padding: 20px;


}

#right {

    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    align-content: center;
    overflow:  visible;
    color: white;
    width: 60%;
}

.media_scroller {
    --_spacer: 3px;
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
    grid-auto-columns: 21%;

    padding: 0 var(--_spacer) var(--_spacer);

    overflow-x: hidden;
    overscroll-behavior-inline: contain;
}
.media_scroller:hover {
    overflow-x:scroll;

}

.media-scroller--with-groups {
    grid-auto-columns: 80%;
}

.media-group {
    display: grid;
    gap: var(--_spacer);
    grid-auto-flow: column;
}

.media_element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);

    border-radius: 20px;
    box-shadow: 0 0 0 1px rgba(62, 62, 62, 1);
}
.empty {

}

.media_element > img {
    inline-size: 90%;
    aspect-ratio: 9/ 12;
    object-fit: cover;
}

.snaps_inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps_inline > * {
    scroll-snap-align: start;
}

/* general styling */

.container {
    inline-size: min(100% - 4rem, 70rem);
    margin-inline: auto;
}

.flow {
    display: grid;
    gap: 10px;
}

.title {
    font-family: Poppins, serif;
}
.section_title {
    padding-inline-start: 10px;
    margin-block: 10px;
    color: white;
    font-family: Poppins, serif;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;

}

/* Track */
::-webkit-scrollbar-track {

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9e265;
    border-radius: 20px;
}

/* Handle on hover */
