main {

}

#Login {
    position:relative;
    top:0;
    left:0;
    width: 100%;
    display: none;
    z-index: 2;
}

#Login section {
    position: absolute;
    font-family: Poppins, serif;
    left: 25%;
    right: 25%;
    border: 1px solid #666; /*a nice looking border for the overlay*/
    background: #093545; /*black background so that you can't see the welcome text underneath*/
    border-radius:10px;
    color: #FFF;
    width:50%;
}

.login_text {
    font-size: 30px;
    color: white;
    margin-left: 15px;
}
#login_title{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#username, #password {
    background: #224957;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
}

#Submit {
    font-size: 30px;
    color: white;
    background: #20DF7F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

}
form {
    display: flex;
    flex-direction: column;
}

.welcome_text {
    color: white;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}


#welcomeBody{
    background: #E7E7E7;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

div
{

    align-items: center;
    text-align: center;
    margin-block-end: 10px;
}
#logo
{

    width: 208px;
    padding-top: 50px;
    height: 183px;

}
#welcome
{

    font-weight: 500;
    font-size: 100px;
    text-transform: uppercase;
    color: #3E3E3E;
}


#login
{
    box-sizing: border-box;

    /* Auto layout */
    padding: 8px 16px;
    gap: 8px;


    width: 276px;
    height: 94px;

    font-size: 100%;
    background: #3E3E3E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color : #E7E7E7;
}
#register
{


    padding: 8px 16px;
    gap: 8px;


    width: 150px;
    height: 80px;
    font-size: 100%;
    background: #3E3E3E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
    color : #E7E7E7;

}

