
main {

    font-size: 300px;
    color: red;


}
.welcomeBody {
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;

}
.welcome {

    font-weight: 500;
    font-size: 100px;
    text-transform: uppercase;
    color:#3b82f6;
}



.overlay {
    height: 100vh;
    width: 100vw;
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom: 0;

    display: none;
    z-index: 2;
    background-size: cover;
    backdrop-filter: blur(20px);

}

.overlay section {

    position: absolute;
    font-family: Poppins, serif;
    top: 30vh;
    left: 34%;
    right: 34%;
    border: 1px solid #666; /*a nice looking border for the overlay*/
    background: #2e3136; /*black background so that you can't see the welcome text underneath*/
    border-radius:20px;
    color: #FFF;
    width:32%;
    height: 40%;
    opacity: 100%;
}

.login_text {
    font-size: medium;
    color: white;
    margin-left: 15px;

}
#login_title {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: large;
}

#login_username, #login_password, #email {
    background: #75797E;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    opacity: 100%;
}
.cls_btn {
    color: #FFFFFF;
   font-size: 150%;


}
.overlay_header {
    flex-direction: row;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0;

}

.overlay_header #login_title {
    justify-content: center;
    color:white;
    font-size: large;
    text-transform: uppercase;
    padding-bottom: 20px;
}
#submit {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}

#login_submit {
    cursor: not-allowed;
    font-size: 100%;
    opacity: 1;
    color: #3E3E3E;
    background: #80FF44;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    width: 30%;
    height: 20%;
    display: flex;
    justify-content: center;


}
form {
    display: flex;
    flex-direction: column;
}


.welcome_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 100px;
    padding-top: 100px;

}
#welcome {
    color:white;
    font-size: 80px;
    text-transform: uppercase;
    padding-bottom: 20px;

}
.logintext {
    color:white;
    font-size: 20px;
    padding-bottom: 20px;
}


.login_button {
    cursor: pointer;
    box-sizing: border-box;

    /* Auto layout */
    padding: 8px 16px;
    gap: 8px;


    width: 220px;
    height: 80px;


    background: #0C100C;
    /**box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);**/
    border-radius: 50px;
    font-size: 50px;
    color : #80FF44;
}
.register_button {
    cursor: pointer;
    /*box-sizing: border-box;*/
    display: flex;
    /* Auto layout */

   /* gap: 8px;*/

    align-items: center;
    width: 220px;
    height: 80px;
    justify-content: center;

    background: #0C100C;
    /**box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);**/
    border-radius: 50px;
    font-size: 30px;
    color : #80FF44;

}
.register_button:hover {
    background-color: #3E3E3E;
}
.login_button:hover {
    background-color: #3E3E3E;
}
#logo_png {
    width: 100px;
    height: 100px;
}