

#Login {
    position:relative;
    top:0;
    left:0;
    width: 100%;
    display: none;
    z-index: 2;
}

#Login section {
    position: absolute;
    left: 25%;
    right: 25%;
    border: 1px solid #666; /*a nice looking border for the overlay*/
    background-color: #000; /*black background so that you can't see the welcome text underneath*/
    border-radius:5px;
    color: #FFF;
    width:50%;
}

.login_text {
    font-size: 30px;
    color: white;

}

.welcome_text {
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


