{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block bodyAttributes %}
{% endblock %}

{% block content%}
    <section id="about-page">
        <h1>ABOUT</h1>
            <h2>ABOUT BOOKABLE</h2>
                <p>Bookable is the new go to place to Discover and rate the latest trending literature, from your</p>
            <h2>ABOUT THE TEAM</h2>
    </section>
{% endblock %}