{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/base.css') }}" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block bodyAttributes %}
{% endblock %}

{% block content%}
    <section id="about-page">
        <h1>ABOUT</h1>
            <h3>ABOUT BOOKABLE</h3>
                <p>
                    Bookable is the new go to place to discover and rate the latest trending literature. From the latest
                    work of one of the best-selling authors, to one of the hidden gems recently discovered by the Booktok
                    community. They can all be found on Bookable! The more you interact with it, the better your recommendations
                    will become.
                    <br>
                    <br>
                    As a service, we value your privacy. To reflect this, all your privacy settings can be easily edited
                    in the settings menu, this way you can stay as anonymous as you want.
                </p>
            <h3>ABOUT THE TEAM</h3>
                <p>
                    The bookable website is created by a group of five third bachelor students studying at the Faculty of
                    Engineering Technology, campus GroUpT, at KULeuven. The Bookable website was part of the course
                    software engineering and Web technology.
                </p>
    </section>
{% endblock %}