{% extends 'base.html.twig' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}

    <section class="welcome_text">
        <h1 id ="welcome">Welcome to Bookable</h1>
        <img id = "logo_png" src="https://www.linkpicture.com/q/Bookable-removebg-preview-2.png">
        <h2 class="logintext">please log in or sign up</h2>
        <button onclick="loginOn()" class="login_button">Log in</button>
        <button onclick="registerOn()" class="register_button">Register</button>
    </section>

    <section id="Login" class="overlay">
        <section>
            <p class="login_text" id="login_title">Log in to your account</p>
            <form method="post">
                <label for="username" class="login_text">username:</label>
                <input type="text" id="username" name="username" onkeyup="isFilledIn()" required><br>
                <label for="password" class="login_text">password:</label>
                <input type="text" id="password" name="password" onkeyup="isFilledIn()" required><br>
                <input type="submit" name="Submit" id="Submit" value="Submit" onclick="loginOff()"/>
            </form>
        </section>
    </section>

    <section id="Register" class="overlay">
        <section>
            <p class="login_text" id="login_title">register to create an account</p>
            <form method="post">
                <label for="email" class="login_text">email:</label>
                <input type="text" id="email" name="email" onkeyup="isFilledIn()" required><br>
                <label for="username" class="login_text">username:</label>
                <input type="text" id="username" name="username" onkeyup="isFilledIn()" required><br>
                <label for="password" class="login_text">password:</label>
                <input type="text" id="password" name="password" onkeyup="isFilledIn()" required><br>
                <input type="submit" name="Submit" id="Submit" value="Submit" onclick="registerOff()"/>
            </form>
        </section>
    </section>



    <script> {# putting code in html is not ideal, temporarely here because of example project #}
        /*function loginOn() {
            document.getElementById("Login").style.display = "flex";
        }

        function loginOff() {
            document.getElementById("Login").style.display = "none";
        }
        function registerOn() {
            document.getElementById("Register").style.display = "flex";
        }

        function registerOff() {
            document.getElementById("Register").style.display = "none";
        }*/
    </script>
{% endblock %}

{#
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
#}