{% extends 'base.html.twig' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}

    <section class="welcome_text">
        <h1 class="welcome_text">Welcome to Bookable</h1>
        <h2 class="welcome_text">please log in or sign up</h2>
        <button onclick="on()" class="welcome_text">log in</button>
    </section>

    <div>
        <h1 id = "welcome"> Welcome</h1>
    </div>
    <div>
        <button id = "login" type="button">Login</button>
    </div>
    <div>
        <button id = "register" type="button">Register</button>
    </div>

    <section id="Login" >
        <section>
            <p class="login_text" id="login_title">Log in to your account</p>
            <form method="post">
                <label for="username" class="login_text">username:</label>
                <input type="text" id="username" name="username" onkeyup="isFilledIn()" required><br>
                <label for="password" class="login_text">password:</label>
                <input type="text" id="password" name="password" onkeyup="isFilledIn()" required><br>
                <input type="submit" name="Submit" id="Submit" value="Submit" onclick="off()"/>
            </form>
        </section>
    </section>



    <script> {# putting code in html is not ideal, temporarely here because of example project #}
        let login = document.getElementById("Login");
        login.style.width = document.getElementById("navbar").offsetWidth.toString() + "px";
        function on() {
            document.getElementById("Login").style.display = "flex";
        }

        function off() {
            document.getElementById("Login").style.display = "none";
        }
    </script>
{% endblock %}

{#
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
#}