{% extends 'base.html.twig' %}

{% block title %}
Welcome
{% endblock %}

{% block content %}
    <h1 class="welcome_text">Welcome to Bookable</h1>
    <head>
        <meta name="welcome" content="width=device-width, initial-scale=1">
        <title>Welcome</title>

    </head>
    <body>

    <div id="Login" onclick="off()">
        <p class="login_text">Log in to your account</p>
        <form method="post" class="login_text">
            <label for="username">username:</label>
            <input type="text" id="username" name="username" onkeyup="isFilledIn()" required><br>
            <label for="password">password:</label>
            <input type="text" id="password" name="password" onkeyup="isFilledIn()" required><br>
            <input type="submit" name="Submit" id="Submit" value="Submit"/>
        </form>

    </div>

    <div class="welcome_text">
        <h2 class="welcome_text">please log in or sign up</h2>
        <button onclick="on()" class="welcome_text">log in</button>
    </div>

    <script> {# putting code in html is not ideal, temporarely here because of example project #}
        function on() {
            document.getElementById("Login").style.display = "block";
        }

        function off() {
            document.getElementById("Login").style.display = "none";
        }
    </script>

    </body>
{% endblock %}

{#
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
#}